<div class="row">
  <div class="col offset-s6">
    <form (ngSubmit)="log()" #logForm="ngForm">
      <input
        type="text"
        placeholder="identifiant"
        name="username"
        required
        minlength="3"
        pattern="[a-zA-Z0-9]+"
        [(ngModel)]="pseudo"
        #nomPseudo="ngModel"
      />
      <div *ngIf="nomPseudo.errors">
        "Votre nom d'utilisateur ne respecte pas les contraintes"
      </div>

      <button
        class="btn waves-effect waves-light"
        type="submit"
        [disabled]="nomPseudo.invalid"
      >
        Connexion
      </button>
    </form>
  </div>
</div>
